
<div class="container">
  <div class="table-wrapper">
      <div class="table-title">
          <div class="row">
              <div class="col-sm-8"><h2>Student <b>Details</b></h2></div>
              <div class="col-sm-4">
                  <button type="button" class="btn btn-info add-new"><i class="fa fa-plus"></i> Add New</button>
              </div>
          </div>
      </div>
      <table class="table table-bordered">
          <thead>
              <tr>
                  <th>Name</th>
                  <th>Email Address</th>
                  <th>Date of Birth</th>
                  <th>Actions</th>
              </tr>
          </thead>
          <tbody>

              <tr *ngFor="let data of studentData">
                  <td>{{data.name}}</td>
                  <td>{{data.emailAddress}}</td>
                  <td>{{data.dob |  date:'mediumDate'}}</td>
                  <td>
        <a class="add" title="Add" data-toggle="tooltip"><i class="material-icons">&#xE03B;</i></a>
                      <a class="edit" title="Edit" data-toggle="tooltip"><i class="material-icons">&#xE254;</i></a>
                      <a class="delete" title="Delete" data-toggle="tooltip"><i class="material-icons">&#xE872;</i></a>
                  </td>
              </tr>

          </tbody>
      </table>
  </div>
</div>
